.svn/
trunk/Program.cs
Lesson1/Task4/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson1/Task4/obj/
Lesson1/Task3/obj/
Lesson1/Task2/obj/
Lesson1/Task1/obj/
Lesson1/.vs/Lesson1/v15/.suo
Lesson1/Task1/bin/
Lesson1/Task2/bin/
Lesson1/Task3/bin/
Lesson1/Task4/bin/
Lesson2/.vs/Lesson2/v15/.suo
Lesson2/Authentication/bin/
Lesson2/Authentication/obj/
Lesson2/Calculator/bin/
Lesson2/Calculator/obj/
